	<!-- menu -->
	<div class="menu">
		<div class="menu-navbar-wrapper">
			<a href="/" aria-current="page" class="logo-wrapper w-inline-block w--current">
				<div>
					<span class="logo-text"> ꝚAIHAN AꝚSH </span>
					<img src="/654fa396610b458bf44c6f7e/logos/s23-logo-13.png" style="height: 1.5rem; width: auto;" loading="lazy" alt="Logo" class="logo">
				</div>
			</a>
			<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b3f6" class="menu-close">
				<div class="nav-text">CLOSE</div>
			</div>
		</div>
		<div class="menu-wrapper">
			<div class="menu-wrapper-inner">
				<a href="/" data-w-id="b03ab973-1068-5052-8dac-65a88db8b3fb" aria-current="page"
					class="menu-link w-inline-block w--current">
					<div class="text-style-xlarge">01 - HOME</div>
				</a>
				<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b3fe" class="horizontal-line line-colour-white"></div>
			</div>
			<div class="menu-wrapper-inner">
				<a href="/projects" data-w-id="b03ab973-1068-5052-8dac-65a88db8b400" class="menu-link w-inline-block">
					<div class="text-style-xlarge">02 - PROJECTS</div>
				</a>
				<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b403" class="horizontal-line line-colour-white"></div>
			</div>
			<div class="menu-wrapper-inner">
				<a data-w-id="b03ab973-1068-5052-8dac-65a88db8b405" href="/about" class="menu-link w-inline-block">
					<div class="text-style-xlarge">03 - MY STORY</div>
				</a>
				<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b408" class="horizontal-line line-colour-white"></div>
			</div>
			<div class="menu-wrapper-inner">
				<a data-w-id="b03ab973-1068-5052-8dac-65a88db8b40a" href="/journals" class="menu-link w-inline-block">
					<div class="text-style-xlarge">04 - ARTICLES</div>
				</a>
				<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b40d" class="horizontal-line line-colour-white"></div>
			</div>
		</div>
		<div class="menu-bottom">
			<div data-w-id="b03ab973-1068-5052-8dac-65a88db8b40f" class="menu-bottom-wrapper">
				<div class="menu-text-bottom text-align-center">Made by <a href="https://brwebdesign.webflow.io/" target="_blank"
						class="link-footer">Bastian</a> - Powered by <a href="https://webflow.com/" target="_blank"
						class="link-footer">Webflow</a></div>
				<div class="social-media-wrapper"><a href="#" class="hover-link w-inline-block">
						<div class="menu-text-link">BEHANCE</div>
						<div class="hover-link-line"></div>
					</a><a href="#" class="hover-link w-inline-block">
						<div class="menu-text-link">INSTAGRAM</div>
						<div class="hover-link-line"></div>
					</a><a href="#" class="hover-link w-inline-block">
						<div class="menu-text-link">LINKED IN</div>
						<div class="hover-link-line"></div>
					</a></div>
			</div>
		</div>
	</div>