	<!-- navbar -->
	<div class="navbar">
		<div class="navbar-wrapper">
			<div class="navbarleft">
				<a href="/" aria-current="page" class="w-inline-block w--current">
					<!-- <span style="font-size: 2rem;">Ꝛ</span> -->
					<img src="/654fa396610b458bf44c6f7e/logos/s23-logo-13.png" style="height: 2.5rem; width: auto;" loading="lazy" alt="Logo" class="logo">
				</a>
			</div>
			<div class="navbar-right">
				<div data-w-id="d7dacd7f-3b55-999a-2cfe-e61fea3d8018" class="nav-menu">
					<div class="hover-link">
						<div class="nav-text">MENU</div>
						<div class="hover-link-line"></div>
					</div>
				</div><a href="/contact" class="primary-button phonehide w-inline-block">
					<div class="nav-text">LET'S CHAT</div>
					<div class="hover-link-line"></div>
				</a>
			</div>
		</div>
		<div class="gradient-top"></div>
	</div>