<!-- services section -->
<div class="section-home-services">
    <div class="padding-global">
        <div class="padding-vertical padding-medium">
            <div class="margin-bottom margin-medium">
                <div class="margin-bottom margin-xsmall">
                    <h2 class="text-meta">Services</h2>
                </div>
                <wrapper data-w-id="ddee9f4a-7269-598d-7c76-c4b4527f4714" style="width:0px" class="horizontal-line">
                </wrapper>
            </div>
            <div class="margin-bottom margin-large">
                <div class="home-service-grid">
                    <div class="home-service-grid-left">
                        <h3 class="heading-style-h2">
                            Elevate your 
                            <span class="text-colour-orange">digital presence</span>
                            with my comprehensive
                            <span class="text-colour-orange">web development</span>
                            <span class="text-colour-orange">services</span>
                        </h3>
                    </div>
                    <wrapper id="w-node-ddee9f4a-7269-598d-7c76-c4b4527f471f-f44c6f81"
                        data-w-id="ddee9f4a-7269-598d-7c76-c4b4527f471f" style="height:0%" class="vertical-line mb-hide">
                    </wrapper>
                    <div class="home-service-grid-right">
                        <div class="home-service-grid-inner">
                            <img src="654fa396610b458bf44c6f7e/65548a7d477b93838aaf8b03_Group%2020.svg" loading="lazy"
                                width="81" height="79" alt="" id="w-node-ddee9f4a-7269-598d-7c76-c4b4527f4723-f44c6f81"
                                class="icon-geometrical">
                            <div class="align-vertical">
                                <div class="margin-bottom margin-xsmall">
                                    <h3>Full Stack Development</h3>
                                </div>
                                <div class="text-colour-grey">
                                    Providing comprehensive web solutions from front-end design to back-end development. Skilled in creating responsive, user-friendly interfaces, as well as scalable server-side architectures to support complex applications.
                                </div>
                            </div>
                        </div>
                        <wrapper id="w-node-ddee9f4a-7269-598d-7c76-c4b4527f4729-f44c6f81"
                            data-w-id="ddee9f4a-7269-598d-7c76-c4b4527f4729" style="width:0px" class="horizontal-line">
                        </wrapper>
                        <div class="home-service-grid-inner">
                            <img src="654fa396610b458bf44c6f7e/65548a7d142bb66d6d9c4a34_Group%2021.svg" loading="lazy"
                                width="66" height="90" alt="" id="w-node-ddee9f4a-7269-598d-7c76-c4b4527f472c-f44c6f81"
                                class="icon-geometrical">
                            <div class="align-vertical">
                                <div class="margin-bottom margin-xsmall">
                                    <h3>E-commerce Solutions</h3>
                                </div>
                                <div class="text-colour-grey">
                                    Developing tailored e-commerce platforms with features like payment gateway integration, inventory management, order tracking, and secure checkout processes to enhance the customer experience and streamline operations.
                                </div>
                            </div>
                        </div>
                        <wrapper id="w-node-be12e761-7252-8908-018c-5cb895bf3297-f44c6f81"
                            data-w-id="be12e761-7252-8908-018c-5cb895bf3297" style="width:0px" class="horizontal-line">
                        </wrapper>
                        <div class="home-service-grid-inner">
                            <img src="654fa396610b458bf44c6f7e/65548a7df7d67904b8ef138c_Shape%2025.svg" loading="lazy" width="55"
                                height="87" alt="" id="w-node-_341e32c7-2f71-eb12-18b5-c385a5506155-f44c6f81"
                                class="icon-geometrical">
                            <div class="align-vertical">
                                <div class="margin-bottom margin-xsmall">
                                    <h3>Custom Web Applications</h3>
                                </div>
                                <div class="text-colour-grey">
                                    Creating bespoke web applications to meet specific business needs, leveraging modern frameworks and technologies to deliver high-performance, secure, and scalable solutions that evolve with your business.
                                </div>
                            </div>
                        </div>
                        <wrapper id="w-node-_6b188107-90a7-3cd6-5030-4a67d61363a2-f44c6f81"
                            data-w-id="6b188107-90a7-3cd6-5030-4a67d61363a2" style="width:0px" class="horizontal-line">
                        </wrapper>
                        <div class="home-service-grid-inner">
                            <img src="654fa396610b458bf44c6f7e/65548a7ddc2d9a84f8c04e18_Shape%2039.svg" loading="lazy" width="77"
                                height="91" alt="" id="w-node-_7130c350-b6db-f440-2bfb-96e85853ebe7-f44c6f81"
                                class="icon-geometrical">
                            <div class="align-vertical">
                                <div class="margin-bottom margin-xsmall">
                                    <h3>Database & Cloud Services</h3>
                                </div>
                                <div class="text-colour-grey">
                                    Expertise in database management systems like MongoDB and MySQL, ensuring optimized data storage and retrieval. Cloud deployment services include AWS, GCP, and Azure to support scalable, high-availability applications.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>