		<!-- reviews section -->
		<div class="section-home-reviews" data-w-id="0f1929d3-e23e-b080-7164-4265f1e04449">
			<div class="padding-global">
				<div class="padding-top padding-xlarge">
					<div class="padding-bottom padding-xhuge">
						<div class="margin-bottom margin-xsmall">
							<h2 class="text-meta">What they say</h2>
						</div>
						<wrapper data-w-id="0f1929d3-e23e-b080-7164-4265f1e0444f" style="width:0px" class="horizontal-line">
						</wrapper>
						<div data-w-id="d8cd1c5b-2726-4e53-6675-d78bb97ffed6" class="review-grid position-relative">
							<div id="w-node-_2e5abd63-addf-5f11-5726-5619971e0235-f44c6f81" class="padding-top padding-xhuge">
								<div id="w-node-_20202622-bdc8-f521-7e4c-f32074b6037f-f44c6f81" class="review-wrapper">
									<div id="w-node-_295a4a53-f1e4-9e90-41b8-430e051e1aee-f44c6f81"
										class="text-style-xxxlarge text-colour-orange">&quot;</div>
									<div id="w-node-_60a6fd98-0efd-32c1-3f57-af1187a00485-f44c6f81" class="block">
										<div id="w-node-f605720c-c34d-d164-094a-fd686a6b508d-f44c6f81" class="text-style-large">
											When <span class="text-colour-orange">Sajeer</span> has the ball, you get the feeling <span class="text-colour-orange"> something special </span> is going to happen.
											He <span class="text-colour-orange"> brings magic </span> to the game, create a goal out of nothing and make the impossible look easy.
										</div>
										<div class="padding-top padding-large">
											<div class="padding-bottom padding-xsmall">
												<div>Ali Miyan TN (Tamil Nadu)</div>
											</div>
											<div class="text-colour-grey">Gucci</div>
											<div class="text-colour-grey">Creative Director</div>
										</div>
									</div>
								</div>
							</div>
							<div data-w-id="e906d1ff-5993-3fae-95d1-c369216259ad" style="height:0%"
								class="vertical-line-80 mb-hide">
							</div>
							<div id="w-node-_747c7d6c-9db7-e35d-597d-39980a62d6b2-f44c6f81"
								class="review-grid-right max-height-large">
								<div class="review-image-1-wrapper">
									<div class="review-image-1-wrapper-red">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Ali Miyan.jpg"
											loading="lazy" width="162" height="162" alt="" class="home-review-image">
										<div class="review-colour-overlay"></div>
									</div>
									<div class="review-image-1-wrapper-clear">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Ali Miyan.jpg"
											loading="lazy" width="162" height="162" alt=""
											sizes="(max-width: 767px) 100vw, (max-width: 991px) 1vw, 162px"
											class="home-review-image"></div>
								</div>
								<div class="review-image-2-wrapper">
									<div class="review-image-2-wrapper-red">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Zayed.jpg"
											loading="lazy" width="162" height="162" alt="" class="home-review-image">
										<div class="review-colour-overlay"></div>
									</div>
									<div class="review-image-2-wrapper-clear">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Zayed.jpg"
											loading="lazy" width="162" height="162" alt="" class="home-review-image">
										<div class="review-colour-overlay-copy"></div>
									</div>
								</div>
								<div class="review-image-3-wrapper">
									<div class="review-image-3-wrapper-red">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Rafi.jpg"
											loading="lazy" width="162" height="162" alt="Review Image 1"
											class="home-review-image">
										<div class="review-colour-overlay"></div>
									</div>
									<div class="review-image-3-wrapper-clear">
										<img src="/654fa396610b458bf44c6f7e/Opinion People/Rafi.jpg"
											loading="lazy" width="162" height="162" alt="Review Image 1"
											class="home-review-image">
										<div class="review-colour-overlay-copy"></div>
									</div>
								</div>
							</div>
							<div id="w-node-_821416c6-c9aa-f912-d9ab-8673ee5c3931-f44c6f81" class="review-wrapper">
								<div id="w-node-_821416c6-c9aa-f912-d9ab-8673ee5c3932-f44c6f81"
									class="text-style-xxxlarge text-colour-orange">&quot;</div>
								<div id="w-node-_821416c6-c9aa-f912-d9ab-8673ee5c3934-f44c6f81" class="block">
									<div id="w-node-_821416c6-c9aa-f912-d9ab-8673ee5c3935-f44c6f81" class="text-style-large">
										When you play with <span class="text-colour-orange"> Messi, </span> everything changes. He is the <span class="text-colour-orange"> best at everything, </span> and he makes everyone around him better.
									</div>
									<div class="padding-top padding-large">
										<div class="padding-bottom padding-xsmall">
											<div>Mohammed Zayed</div>
										</div>
										<div class="text-colour-grey">Gucci</div>
										<div class="text-colour-grey">Creative Director</div>
									</div>
								</div>
							</div>
							<div id="w-node-_97e1a992-7504-9e42-0350-48db1ee1cd09-f44c6f81" class="review-wrapper">
								<div id="w-node-_97e1a992-7504-9e42-0350-48db1ee1cd0a-f44c6f81"
									class="text-style-xxxlarge text-colour-orange">&quot;</div>
								<div id="w-node-_97e1a992-7504-9e42-0350-48db1ee1cd0c-f44c6f81">
									<div id="w-node-_97e1a992-7504-9e42-0350-48db1ee1cd0d-f44c6f81" class="text-style-large">
										There is no player in the world as good as <span class="text-colour-orange">Ronaldo.</span> He is simply the best. What makes him truly special is his relentless <span class="text-colour-orange"> work ethic </span> and hunger for <span class="text-colour-orange"> success.</span>
									</div>
									<div class="padding-top padding-large">
										<div class="padding-bottom padding-xsmall">
											<div>Ahammed Rafi</div>
										</div>
										<div class="text-colour-grey">Gucci</div>
										<div class="text-colour-grey">Creative Director</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>