		<!-- project-board section / media section -->
		<div class="section-home-project-board" data-w-id="17d3178d-6934-4c23-1fa5-80056b2c2bd3">
			<div class="home-project-board">
			<div class="project-board-grid">
				<div class="board-grid-column-left">
					<div id="w-node-_29ae9395-8e0e-8ac3-3f95-ed8a9ef0bac7-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/655493f7e3711c85cdf814bf_jasmin-chew-txy8AZU04iw-unsplash%20copy%202.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/655493f7e3711c85cdf814bf_jasmin-chew-txy8AZU04iw-unsplash%20copy%202-p-500.webp 500w, 654fa396610b458bf44c6f7e/655493f7e3711c85cdf814bf_jasmin-chew-txy8AZU04iw-unsplash%20copy%202-p-800.webp 800w, 654fa396610b458bf44c6f7e/655493f7e3711c85cdf814bf_jasmin-chew-txy8AZU04iw-unsplash%20copy%202-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/655493f7e3711c85cdf814bf_jasmin-chew-txy8AZU04iw-unsplash%20copy%202-1.webp 1600w"
						alt="Woman Fashion Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
					<div id="w-node-_5b59132e-05ef-c3c4-bf29-49d259b08e20-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/655493f6e4bdaf9b9ed2fd02_mohamadreza-khashay-ziubUDopHmc-unsplash%20copy-1.webp 2000w"
						alt="Fashion Photorgaph of Woman with coat" class="image-board">
					<div class="image-noise"></div>
					</div>
					<div id="w-node-b0a93d23-5a3b-1205-7a1d-800a05fb6d0b-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/65f19cb2617769b7cf518ecc_karina-tess-aD_30pQSLZw-unsplash%20copy%203.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/65f19cb2617769b7cf518ecc_karina-tess-aD_30pQSLZw-unsplash%20copy%203-p-500.webp 500w, 654fa396610b458bf44c6f7e/65f19cb2617769b7cf518ecc_karina-tess-aD_30pQSLZw-unsplash%20copy%203-p-800.webp 800w, 654fa396610b458bf44c6f7e/65f19cb2617769b7cf518ecc_karina-tess-aD_30pQSLZw-unsplash%20copy%203-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/65f19cb2617769b7cf518ecc_karina-tess-aD_30pQSLZw-unsplash%20copy%203-1.webp 1334w"
						alt="Woman Studio Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
				</div>
				<div class="board-grid-column-center">
					<div id="w-node-_071db72c-8a0c-9a69-2838-5430f93dba3b-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 50vw, (max-width: 991px) 52vw, (max-width: 1439px) 55vw, 56vw"
						srcset="654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-1.webp 2000w"
						alt="Woman Fashion Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
					<div id="w-node-a69415d7-27da-e0ed-c9c2-ee461c078b3b-f44c6f81" class="background-video-wrapper-mask"><a
						href="#" class="lightbox-link w-inline-block w-lightbox">
						<div
							data-poster-url="https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-poster-00001.jpg"
							data-video-urls="https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-transcode.mp4,https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-transcode.webm"
							data-autoplay="true" data-loop="true" data-wf-ignore="true"
							class="background-video w-background-video w-background-video-atom"><video
							id="f7f3c74d-90d6-fa4f-0d94-9f1e04915f05-video" autoplay="" loop=""style="background-image:url(&quot;654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-poster-00001.jpg&quot;)"
							muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
							<source src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-transcode.mp4"
								data-wf-ignore="true">
							<source src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-transcode.webm"
								data-wf-ignore="true">
							</video><noscript>
							<style>
								[data-wf-bgvideo-fallback-img] {
									display: none;
								}

								@media (prefers-reduced-motion: reduce) {
									[data-wf-bgvideo-fallback-img] {
									position: absolute;
									z-index: -100;
									display: inline-block;
									height: 100%;
									width: 100%;
									object-fit: cover;
									}
								}
							</style><img data-wf-bgvideo-fallback-img="true"
								src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-poster-00001.jpg" alt="">
							</noscript>
							<div aria-live="polite"><button type="button" data-w-bg-video-control="true"
								aria-controls="f7f3c74d-90d6-fa4f-0d94-9f1e04915f05-video"
								class="w-backgroundvideo-backgroundvideoplaypausebutton play-pause-button w-background-video--control"><span><img
									src="6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" loading="lazy"
									alt="Pause video"></span><span hidden=""><img loading="lazy" alt="Play video"
									src="6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg"></span></button></div>
						</div>
						<script type="application/json" class="w-json">{
	"items": [
		{
			"url": "https://youtube.com/watch?v=B0S20RYys8o",
			"originalUrl": "https://youtube.com/watch?v=B0S20RYys8o",
			"width": 940,
			"height": 528,
			"thumbnailUrl": "https://i.ytimg.com/vi/B0S20RYys8o/hqdefault.jpg",
			"html": "<iframe class=\"embedly-embed\" src=\"//cdn.embedly.com/widgets/media.html?src=https%3A%2F%2Fwww.youtube.com%2Fembed%2FB0S20RYys8o%3Ffeature%3Doembed&display_name=YouTube&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DB0S20RYys8o&image=https%3A%2F%2Fi.ytimg.com%2Fvi%2FB0S20RYys8o%2Fhqdefault.jpg&key=96f1f04c5f4143bcb0f2e68c87d65feb&type=text%2Fhtml&schema=youtube\" width=\"940\" height=\"528\" scrolling=\"no\" title=\"YouTube embed\" frameborder=\"0\" allow=\"autoplay; fullscreen; encrypted-media; picture-in-picture;\" allowfullscreen=\"true\"></iframe>",
			"type": "video"
		}
	],
	"group": ""
	}</script>
					</a>
					<div class="image-noise"></div>
					</div>
					<div id="w-node-_7ff7e918-3982-a4df-d375-62704b958899-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 50vw, (max-width: 991px) 52vw, (max-width: 1439px) 55vw, 56vw"
						srcset="654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/6554e616c014c4ae6f093266_santosh-verma-Fl7F095yows-unsplash%20copy-1.webp 2000w"
						alt="Woman Fashion Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
				</div>
				<div class="board-grid-column-right">
					<div id="w-node-_29e8287c-b656-d7a2-d39f-dead95c339b0-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/655493f6a2a8ee80b6879e78_cat-han-Ks6wd1Zyf1o-unsplash%20copy-1.webp 2000w"
						alt="Close up of Necklace - Fashion Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
					<div id="w-node-_29e8287c-b656-d7a2-d39f-dead95c339b2-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy.webp"
						loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/6554f2a5fa2bbe9e12675586_hanen-souhail-n3GxXpVcTpI-unsplash%20copy-1.webp 2000w"
						alt="Woman with White dress" class="image-board">
					<div class="image-noise"></div>
					</div>
					<div id="w-node-_29e8287c-b656-d7a2-d39f-dead95c339b4-f44c6f81" class="image-board-wrapper"><img
						src="654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy.webp" loading="lazy"
						sizes="(max-width: 479px) 100vw, (max-width: 767px) 25vw, (max-width: 991px) 26vw, (max-width: 1439px) 27vw, 28vw"
						srcset="654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy-p-500.webp 500w, 654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy-p-800.webp 800w, 654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy-p-1080.webp 1080w, 654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy-p-1600.webp 1600w, 654fa396610b458bf44c6f7e/655493f734c9ab8371c94506_%20%20copy-1.webp 2000w"
						alt="Studio Woman Fashion Photography" class="image-board">
					<div class="image-noise"></div>
					</div>
				</div>
			</div>
			</div>
			<div class="home-project-board-mobile">
			<div class="padding-bottom padding-large">
				<div class="project-board-video-wrapper">
					<div
					data-poster-url="https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-poster-00001.jpg"
					data-video-urls="https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-transcode.mp4,https://cdn.prod.website-files.com/654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-transcode.webm"
					data-autoplay="true" data-loop="true" data-wf-ignore="true"
					class="w-background-video w-background-video-atom"><video id="91112b25-d7cd-7756-78d4-9d44cc77b946-video"
						autoplay="" loop=""style="background-image:url(&quot;654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film Editorial-poster-00001.jpg&quot;)"
						muted="" playsinline="" data-wf-ignore="true" data-object-fit="cover">
						<source src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-transcode.mp4"
							data-wf-ignore="true">
						<source src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-transcode.webm"
							data-wf-ignore="true">
					</video><noscript>
						<style>
							[data-wf-bgvideo-fallback-img] {
							display: none;
							}

							@media (prefers-reduced-motion: reduce) {
							[data-wf-bgvideo-fallback-img] {
								position: absolute;
								z-index: -100;
								display: inline-block;
								height: 100%;
								width: 100%;
								object-fit: cover;
							}
							}
						</style><img data-wf-bgvideo-fallback-img="true"
							src="654fa396610b458bf44c6f7e/6554a1f07efc257835d58845_Film%20Editorial-poster-00001.jpg" alt="">
					</noscript>
					<div aria-live="polite"><button type="button" data-w-bg-video-control="true"
							aria-controls="91112b25-d7cd-7756-78d4-9d44cc77b946-video"
							class="w-backgroundvideo-backgroundvideoplaypausebutton play-pause-button-2 w-background-video--control"><span><img
								src="6022af993a6b2191db3ed10c/628299f8aa233b83918e24fd_Pause.svg" loading="lazy"
								alt="Pause video"></span><span hidden=""><img loading="lazy" alt="Play video"
								src="6022af993a6b2191db3ed10c/628298b20ae0236682d4b87f_Play-24.svg"></span></button></div>
					</div>
				</div>
			</div>
			</div>
		</div>