		<!-- clients section -->
		<div class="section-home-clients">
			<div class="horizontal-line-clients"></div>
			<div class="padding-vertical padding-semi-medium">
				<div data-w-id="3cb5426a-6cdd-5dc0-5a9e-d34425b0dda9"
					style="-webkit-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0px, 0, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)" class="home-clients-logo-wrapper">
					<img src="633435a4586c976e45d7b8e8/6553b93bd124f2a510cc716c_Vectors-Wrapper.svg" loading="lazy" width="111.42857360839844" height="24" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/javascript-logo.svg" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/html.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/typescript.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/nodejs.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/react.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/css-3.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/github4.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<img src="654fa396610b458bf44c6f7e/logos/git.png" loading="lazy" style="width: auto; height: 60px;" alt="" class="home-clients-logo-image">
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93bbdbb6aca21538d82_Vectors-Wrapper.svg" loading="lazy" width="132" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93c647b1d594abf0efa_Vectors-Wrapper.svg" loading="lazy" width="102.46154022216797" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93d85a7f36cc15a5891_Vectors-Wrapper.svg" loading="lazy" width="150.39999389648438" height="20" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93e0af05677bf509ed4_Vectors-Wrapper.svg" loading="lazy" width="67.38461303710938" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93f8ddd6744337fca29_Vectors-Wrapper.svg" loading="lazy" width="48" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b94071d849ad4593bc9e_Vectors-Wrapper.svg" loading="lazy" width="48.85714340209961" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b94085a7f36cc15a5a11_Vectors-Wrapper.svg" loading="lazy" width="55.71428680419922" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b941fb975e7de6a38f4f_Vectors-Wrapper.svg" loading="lazy" width="53.41935348510742" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b941aa67b2be30076bae_Vectors-Wrapper.svg" loading="lazy" width="125.71428680419922" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b94256ff80a4fc89685c_Vectors-Wrapper.svg" loading="lazy" width="89.33333587646484" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93c647b1d594abf0efa_Vectors-Wrapper.svg" loading="lazy" width="102.46154022216797" height="24" alt="" class="home-clients-logo-image"> -->
					<!-- <img src="633435a4586c976e45d7b8e8/6553b93bd124f2a510cc716c_Vectors-Wrapper.svg" loading="lazy" width="111.42857360839844" height="24" alt="" class="home-clients-logo-image"> -->
					<img src="633435a4586c976e45d7b8e8/6553b94085a7f36cc15a5a11_Vectors-Wrapper.svg" loading="lazy" width="55.71428680419922" height="24" alt="" class="home-clients-logo-image">
					<img src="633435a4586c976e45d7b8e8/6553b93c647b1d594abf0efa_Vectors-Wrapper.svg" loading="lazy" width="102.46154022216797" height="24" alt="" class="home-clients-logo-image">
				</div>
			</div>
			<div class="horizontal-line-clients"></div>
		</div>