		<!-- hero section -->
		<div class="section-home-hero" data-w-id="c6a3a96c-2a59-1694-0b54-74ea8d598696">
			<div class="home-hero-content">
			<div class="padding-global">
				<div id="w-node-_2af3bf38-618d-03c0-abde-68c1bc4039f1-f44c6f81" class="margin-bottom margin-medium">
					<h1 id="w-node-_7e6bf1ea-72ec-0abc-eff6-0ae602b553bf-f44c6f81"
						data-w-id="7e6bf1ea-72ec-0abc-eff6-0ae602b553bf" class="heading-style-xxlarge">
						ꝚAIHAN<br><span class="text-colour-orange">AꝚSH</span>
					</h1>
				</div>
				<!-- <div class="home-hero-image-wrapper-mobile">
					<img src="654fa396610b458bf44c6f7e/6563bbbdd697929053b54574_Portrait%20Mobile.webp" loading="lazy" sizes="100vw"
					srcset="654fa396610b458bf44c6f7e/6563bbbdd697929053b54574_Portrait%20Mobile-p-500.webp 500w, 
					654fa396610b458bf44c6f7e/6563bbbdd697929053b54574_Portrait%20Mobile-p-800.webp 800w, 
					654fa396610b458bf44c6f7e/6563bbbdd697929053b54574_Portrait%20Mobile-1.webp 1080w"
					alt="" class="home-hero-image-mobile">
				</div> -->
				<div class="home-hero-image-wrapper-mobile">
					<img src="/654fa396610b458bf44c6f7e/mybg/0B9A6366-PN1.png" loading="lazy" sizes="100vw"
					srcset="/
					654fa396610b458bf44c6f7e/mybg/0B9A6366-PN1.png.webp 500w, 
					654fa396610b458bf44c6f7e/mybg/0B9A6366-PN1.png 800w, 
					654fa396610b458bf44c6f7e/mybg/0B9A6366-PN1.png 1080w"
					alt="" class="home-hero-image-mobile">
				</div>
			</div>
			</div>
			<div id="w-node-_0316144a-1918-207e-5230-8c9ebd170cdb-f44c6f81" class="hero-image-wrapper"><img class="hero-image"
				src="654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy.webp"
				alt="Portrait Østen Wilde" sizes="(max-width: 1920px) 100vw, 1920px"
				data-w-id="01f6d04f-b5ef-6c75-f48f-e6e994bf0c08" id="w-node-_01f6d04f-b5ef-6c75-f48f-e6e994bf0c08-f44c6f81"
				loading="lazy"
				srcset="654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy-p-500.webp 500w, 
				654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy-p-800.webp 
				800w, 654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy-p-1080.webp 1080w, 
				654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy-p-1600.webp 1600w, 
				654fa396610b458bf44c6f7e/mybg/0B9A6366-JP4.jpg 1920w">
				<!-- 654fa396610b458bf44c6f7e/655b616b6dbc61fa4e98255a_pexels-demeter-attila-60778%20copy-1.webp 1920w"> (original image)  -->
			</div>
			<div class="gradient-top"></div>
			<div class="gradient-bottom"></div>
			<div class="scroll-down">
			<div class="scroll-down-line-wrapper">
				<div class="scroll-down-line-bg"></div>
				<div data-w-id="47e8872e-c5be-8c35-77fd-ba4be10aa67a"
					style="-webkit-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, -100%, 0) scale3d(1, 1, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0)"
					class="scroll-down-line"></div>
			</div>
			</div>
		</div>