<div class="section-home-about">
    <div class="padding-global">
        <div class="padding-vertical padding-huge">
            <div class="home-about-grid">
                <h3 id="w-node-_10952e9d-c8f4-bc99-6861-9f8fdde9ce6b-f44c6f81" class="heading-style-h2"> As a
                    <span class="text-colour-orange"> full stack developer </span> specializing in the
                    <span class="text-colour-orange">MERN stack,</span>
                    I am passionate about transforming innovative ideas into seamless, dynamic web experiences.
                </h3>
                <div id="w-node-_2bd418d4-2836-36ee-e63d-cc85f35c2784-f44c6f81"
                    data-w-id="2bd418d4-2836-36ee-e63d-cc85f35c2784" style="height:0%" class="vertical-line mb-hide"></div>
                <div id="w-node-_54498ad6-fadf-029f-ebc7-f4502db1a17d-f44c6f81" class="flex-vertical-stretch">
                    <div class="margin-bottom margin-small">
                        <h2 class="text-meta">About Me</h2>
                        <h2 class="text-meta">&</h2>
                        <h2 class="text-meta">What I do</h2>
                    </div>
                    <div class="margin-bottom margin-large">
                        <div class="horizontal-line dthide"></div>
                    </div>
                    <div class="social-media-wrapper">
                        <a href="https://www.linkedin.com/in/barclays23/" target="_blank" class="social-media-link w-inline-block">
                            <img src="/654fa396610b458bf44c6f7e/logos/linkedin.png" loading="lazy" width="48" height="48" alt="Icon LinkdeIn" class="social-media-icon">
                        </a>
                        <a href="https://github.com/Barclays23" target="_blank" class="social-media-link w-inline-block">
                            <img src="/654fa396610b458bf44c6f7e/logos/github (2).png" loading="lazy" width="48" height="48" alt="Icon GitHub" class="social-media-icon">
                        </a>
                        <a href="https://www.instagram.com/barclays_sajeer_23/" target="_blank" class="social-media-link w-inline-block">
                            <img src="/654fa396610b458bf44c6f7e/logos/instagram.png" loading="lazy" width="48" height="48" alt="Icon Instagram" class="social-media-icon">
                        </a>
                        <a href="https://www.facebook.com/sajee23" target="_blank" class="social-media-link w-inline-block">
                            <img src="/654fa396610b458bf44c6f7e/logos/facebook.png" loading="lazy" width="48" height="48" alt="Icon Facebook" class="social-media-icon">
                        </a>
                        <a href="https://wa.me/919633699766" target="_blank" class="social-media-link w-inline-block">
                            <img src="/654fa396610b458bf44c6f7e/logos/whatsapp.png" loading="lazy" width="48" height="48" alt="Icon Whatsapp" class="social-media-icon">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>