<!-- history section -->
<div class="section-home-history">
    <div class="padding-global">
        <div class="padding-vertical padding-medium">
            <div class="padding-top padding-medium">
                <div class="margin-bottom margin-xsmall">
                    <h2 class="text-meta">History</h2>
                </div>
                <div class="margin-bottom margin-large">
                    <wrapper data-w-id="4b0eb04e-ddb6-897b-9345-c67daf7caaa6" style="width:0px" class="horizontal-line">
                    </wrapper>
                </div>
                <div class="history-grid">
                    <div class="history-grid-inner">
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">Now</div>
                            <div><img src="/654fa396610b458bf44c6f7e/HistoryImages/Red Shirt 2.jpg"
                                    alt="history-image-now" class="history-image"></div>
                            <div class="block">
                                <div>Brototype</div>
                                <div class="text-colour-orange">Full Stack Developer</div>
                            </div>
                        </div>
                    </div>
                    <div id="w-node-_4ee5f66a-5cb7-c79f-9059-2354970ddd3e-f44c6f81"
                        data-w-id="4ee5f66a-5cb7-c79f-9059-2354970ddd3e" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-padding stretch">
                        <div class="text-style-large text-style-bold">2022</div>
                        <div class="block">
                            <div>Google</div>
                            <div class="text-colour-orange">Design Assistan</div>
                        </div>
                    </div>
                    <div id="w-node-_0b1f5667-cde5-1d7a-87a0-ddab5a4a5139-f44c6f81"
                        data-w-id="0b1f5667-cde5-1d7a-87a0-ddab5a4a5139" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-padding stretch">
                        <div class="text-style-large text-style-bold">2020</div>
                        <div class="block">
                            <div>Webflow</div>
                            <div class="text-colour-orange">Web Design</div>
                        </div>
                    </div>
                    <div id="w-node-c3f267ec-a967-aea4-3799-f9494f27033d-f44c6f81"
                        data-w-id="c3f267ec-a967-aea4-3799-f9494f27033d" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-placeholder"></div>
                    <div id="w-node-e67863d0-a953-3d91-209b-05206291f389-f44c6f81"
                        data-w-id="e67863d0-a953-3d91-209b-05206291f389" style="width:0px" class="horizontal-line-80">
                    </div>
                    <div class="grid-inner-placeholder"></div>
                    <div id="w-node-_65789924-149f-e19f-ac20-8bc6db5e820c-f44c6f81"
                        data-w-id="65789924-149f-e19f-ac20-8bc6db5e820c" style="height:0%" class="horizontal-line-80">
                    </div>
                    <div id="w-node-f0f6fd1e-b81b-637f-b6a2-a198b3e33792-f44c6f81" class="grid-inner-placeholder"></div>
                    <div id="w-node-c348c0e1-2d5b-620f-f0a0-6e6117b59695-f44c6f81"
                        data-w-id="c348c0e1-2d5b-620f-f0a0-6e6117b59695" style="height:0%" class="horizontal-line-80">
                    </div>
                    <div id="w-node-d8c7e123-29d6-58eb-8cdb-23bee2b1bf6f-f44c6f81" class="grid-inner-placeholder"></div>
                    <div id="w-node-c82cb7b1-b6f4-5914-e3e1-d465c84231f2-f44c6f81"
                        data-w-id="c82cb7b1-b6f4-5914-e3e1-d465c84231f2" style="height:0%" class="horizontal-line-80">
                    </div>
                    <div class="grid-inner-placeholder"></div>
                    <div id="w-node-_7edbc7dc-b8c9-02b8-e3f1-fc772627ff95-f44c6f81"
                        data-w-id="7edbc7dc-b8c9-02b8-e3f1-fc772627ff95" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-padding stretch">
                        <div class="text-style-large text-style-bold">2019</div>
                        <div class="block">
                            <div>Startup</div>
                            <div class="text-colour-orange">Webfllow Webdesign</div>
                        </div>
                    </div>
                    <div id="w-node-_5d397bc6-bdca-8b69-6b60-909bdafb5aed-f44c6f81"
                        data-w-id="5d397bc6-bdca-8b69-6b60-909bdafb5aed" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-padding stretch">
                        <div class="text-style-large text-style-bold">2018</div>
                        <div class="block">
                            <div>Addidas</div>
                            <div class="text-colour-orange">Web Design</div>
                        </div>
                    </div>
                    <div id="w-node-bd9ddb74-b72a-9520-04a9-74d499cbce7c-f44c6f81"
                        data-w-id="bd9ddb74-b72a-9520-04a9-74d499cbce7c" style="height:0%" class="vertical-line-80">
                    </div>
                    <div class="grid-inner-padding stretch">
                        <div class="text-style-large text-style-bold">2016</div>
                        <div class="block">
                            <div>Freelance</div>
                            <div class="text-colour-orange">3D Creation</div>
                        </div>
                    </div>
                </div>
                <div class="history-grid-tablet">
                    <div class="history-grid-row">
                        <div class="history-grid-inner">
                            <div class="grid-inner-padding stretch">
                                <div class="text-style-large text-style-bold">Now</div>
                                <div class="block">
                                    <div>Freelance</div>
                                    <div class="text-colour-orange">Photo &amp; Videographer</div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_457b0e6f-b5fe-7e51-b86b-62ec895d41bd-f44c6f81"
                            data-w-id="457b0e6f-b5fe-7e51-b86b-62ec895d41bd" style="height:0%" class="vertical-line-80">
                        </div>
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2022</div>
                            <div class="block">
                                <div>Google</div>
                                <div class="text-colour-orange">Design Assistan</div>
                            </div>
                        </div>
                        <div id="w-node-_457b0e6f-b5fe-7e51-b86b-62ec895d41c6-f44c6f81"
                            data-w-id="457b0e6f-b5fe-7e51-b86b-62ec895d41c6" style="height:0%" class="vertical-line-80">
                        </div>
                        <div id="w-node-_457b0e6f-b5fe-7e51-b86b-62ec895d41c7-f44c6f81"
                            class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2020</div>
                            <div class="block">
                                <div>Webflow</div>
                                <div class="text-colour-orange">Web Design</div>
                            </div>
                        </div>
                    </div>
                    <div class="history-grid-second-row">
                        <div id="w-node-_46c85431-4c91-13e9-f250-adc418d57df1-f44c6f81"
                            data-w-id="46c85431-4c91-13e9-f250-adc418d57df1" style="height:0%"
                            class="horizontal-line-80"></div>
                        <div id="w-node-a8a00a17-4ad1-1716-3a93-2896f15a262e-f44c6f81"
                            data-w-id="a8a00a17-4ad1-1716-3a93-2896f15a262e" style="height:0%"
                            class="horizontal-line-80"></div>
                        <div id="w-node-e7b66167-62d4-6019-ca20-19eb529a3038-f44c6f81"
                            data-w-id="e7b66167-62d4-6019-ca20-19eb529a3038" style="height:0%"
                            class="horizontal-line-80"></div>
                    </div>
                    <div class="history-grid-row">
                        <div class="history-grid-inner">
                            <div class="grid-inner-padding stretch">
                                <div class="text-style-large text-style-bold">2019</div>
                                <div class="block">
                                    <div>Startup</div>
                                    <div class="text-colour-orange">Webfllow Webdesign</div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_45414c2f-411e-9213-aba6-21010a8ce32a-f44c6f81"
                            data-w-id="45414c2f-411e-9213-aba6-21010a8ce32a" style="height:0%" class="vertical-line-80">
                        </div>
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2018</div>
                            <div class="block">
                                <div>Addidas</div>
                                <div class="text-colour-orange">Web Design</div>
                            </div>
                        </div>
                        <div id="w-node-_45414c2f-411e-9213-aba6-21010a8ce333-f44c6f81"
                            data-w-id="45414c2f-411e-9213-aba6-21010a8ce333" style="height:0%" class="vertical-line-80">
                        </div>
                        <div id="w-node-_45414c2f-411e-9213-aba6-21010a8ce334-f44c6f81"
                            class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2016</div>
                            <div class="block">
                                <div>Freelance</div>
                                <div class="text-colour-orange">3D Creation</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="history-grid-mobile">
                    <div class="history-grid-row">
                        <div class="history-grid-inner">
                            <div class="grid-inner-padding stretch">
                                <div class="text-style-large text-style-bold">Now</div>
                                <div class="block">
                                    <div>Freelance</div>
                                    <div class="text-colour-orange">Photo &amp; Videographer</div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899bf-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899bf" style="height:0%" class="vertical-line-80">
                        </div>
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2022</div>
                            <div class="block">
                                <div>Google</div>
                                <div class="text-colour-orange">Design Assistan</div>
                            </div>
                        </div>
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899c8-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899c8" style="height:0%" class="vertical-line-80">
                        </div>
                    </div>
                    <div class="history-grid-second-row">
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899d2-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899d2" style="height:0%"
                            class="horizontal-line-80"></div>
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899d4-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899d4" style="height:0%"
                            class="horizontal-line-80"></div>
                    </div>
                    <div class="history-grid-row">
                        <div class="history-grid-inner">
                            <div class="grid-inner-padding stretch">
                                <div class="text-style-large text-style-bold">2020</div>
                                <div class="block">
                                    <div>Freelance</div>
                                    <div class="text-colour-orange">Photo &amp; Videographer</div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899df-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899df" style="height:0%" class="vertical-line-80">
                        </div>
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2019</div>
                            <div class="block">
                                <div>Google</div>
                                <div class="text-colour-orange">Design Assistan</div>
                            </div>
                        </div>
                        <div id="w-node-_298eb844-2cbf-5a12-65a2-05249ea899e8-f44c6f81"
                            data-w-id="298eb844-2cbf-5a12-65a2-05249ea899e8" style="height:0%" class="vertical-line-80">
                        </div>
                    </div>
                    <div class="history-grid-second-row">
                        <div id="w-node-c44cee6e-5342-a84c-6032-11a3cc0b322f-f44c6f81"
                            data-w-id="c44cee6e-5342-a84c-6032-11a3cc0b322f" style="height:0%"
                            class="horizontal-line-80"></div>
                        <div id="w-node-c44cee6e-5342-a84c-6032-11a3cc0b3230-f44c6f81"
                            data-w-id="c44cee6e-5342-a84c-6032-11a3cc0b3230" style="height:0%"
                            class="horizontal-line-80"></div>
                    </div>
                    <div class="history-grid-row">
                        <div class="history-grid-inner">
                            <div class="grid-inner-padding stretch">
                                <div class="text-style-large text-style-bold">2018</div>
                                <div class="block">
                                    <div>Freelance</div>
                                    <div class="text-colour-orange">Photo &amp; Videographer</div>
                                </div>
                            </div>
                        </div>
                        <div id="w-node-_8ee00f35-4b91-f11e-550a-9e28a661688b-f44c6f81"
                            data-w-id="8ee00f35-4b91-f11e-550a-9e28a661688b" style="height:0%" class="vertical-line-80">
                        </div>
                        <div class="grid-inner-padding stretch">
                            <div class="text-style-large text-style-bold">2016</div>
                            <div class="block">
                                <div>Google</div>
                                <div class="text-colour-orange">Design Assistan</div>
                            </div>
                        </div>
                        <div id="w-node-_8ee00f35-4b91-f11e-550a-9e28a6616894-f44c6f81"
                            data-w-id="8ee00f35-4b91-f11e-550a-9e28a6616894" style="height:0%" class="vertical-line-80">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>