<!-- projects section -->
<div class="section-home-projects">
    <div class="padding-vertical padding-xlarge">
        <div class="padding-global">
            <div class="margin-bottom margin-xsmall">
                <h2 class="text-meta">Recent Projects</h2>
            </div>
            <wrapper data-w-id="673a231a-c3b2-2942-e562-447681e25f48" style="width:0px" class="horizontal-line">
            </wrapper>
        </div>
        <div class="padding-vertical padding-medium">
            <div class="home-project-grid">
                <div class="home-project-wrapper-left w-dyn-list">
                    <div role="list" class="collection-list w-dyn-items">
                        <div role="listitem" class="projects-work-item w-dyn-item">
                            <a href="https://glitzjwellery.in/" class="project-wrapper-link w-inline-block">
                                <div class="view-button-wrapper">
                                    <div class="view-button">
                                        <div class="text-button">View <br>Project</div>
                                    </div>
                                </div>
                                <div class="home-project-wrapper-left">
                                    <div class="margin-bottom margin-small">
                                        <div class="image-content-wrapper">
                                            <div class="image-noise"></div>
                                            <img loading="lazy" width="861" height="526" alt="project-image"
                                                src="/6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (1).png"
                                                sizes="(max-width: 479px) 100vw, 55vw"
                                                srcset="6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (1).png"
                                                class="image-content">
                                        </div>
                                    </div>
                                    <div class="margin-left margin-small">
                                        <div class="text-meta">GLITZ COMING SOON</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div role="listitem" class="projects-work-item w-dyn-item">
                            <a href="https://glitzjwellery.in/" class="project-wrapper-link w-inline-block">
                                <div class="view-button-wrapper">
                                    <div class="view-button">
                                        <div class="text-button">View <br>Project</div>
                                    </div>
                                </div>
                                <div class="home-project-wrapper-left">
                                    <div class="margin-bottom margin-small">
                                        <div class="image-content-wrapper">
                                            <div class="image-noise"></div>
                                            <img loading="lazy" width="861" height="526" alt="project-image"
                                                src="/6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (2).png"
                                                sizes="(max-width: 479px) 100vw, 55vw"
                                                srcset="6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (2).png"
                                                class="image-content">
                                        </div>
                                    </div>
                                    <div class="margin-left margin-small">
                                        <div class="text-meta">GLITZ ECOMMERCE</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
                <div id="w-node-_82a7126d-8888-50ac-2d52-f63049c645bc-f44c6f81"
                    class="home-project-wrapper-right w-dyn-list">
                    <div role="list" class="collection-list w-dyn-items">
                        <div role="listitem" class="projects-work-item w-dyn-item"><a
                                data-w-id="81d2cd7a-1dfa-61df-38b2-66deb78d72c1" href="project/klada.html"
                                class="project-work-image-wrapper w-inline-block">
                                <div data-w-id="89e87a9b-9213-e2d0-13f0-e6dacfc536de" class="view-button-wrapper">
                                    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                                        class="view-button">
                                        <div style="opacity:0" class="text-button">View <br>Project</div>
                                    </div>
                                </div>
                                <div class="home-project-wrapper-right">
                                    <div class="margin-bottom margin-small">
                                        <div class="image-content-wrapper">
                                            <div class="image-noise"></div><img loading="lazy" width="861" height="526"
                                                alt=""
                                                src="/6553c8b3e7dde406596858f4/ProjectImages/User Management System (2).png"
                                                sizes="(max-width: 479px) 100vw, 55vw"
                                                srcset="6553c8b3e7dde406596858f4/ProjectImages/User Management System (2).png"
                                                class="image-content">
                                        </div>
                                    </div>
                                    <div class="margin-left margin-special-project">
                                        <div class="text-meta">USER MANAGEMENT SYSTEM</div>
                                    </div>
                                </div>
                            </a></div>
                        <div role="listitem" class="projects-work-item w-dyn-item"><a
                                data-w-id="81d2cd7a-1dfa-61df-38b2-66deb78d72c1" href="project/ralalauren.html"
                                class="project-work-image-wrapper w-inline-block">
                                <div data-w-id="89e87a9b-9213-e2d0-13f0-e6dacfc536de" class="view-button-wrapper">
                                    <div style="-webkit-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-moz-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);-ms-transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);transform:translate3d(0, 0, 0) scale3d(0, 0, 1) rotateX(0) rotateY(0) rotateZ(0) skew(0, 0);opacity:0"
                                        class="view-button">
                                        <div style="opacity:0" class="text-button">View <br>Project</div>
                                    </div>
                                </div>
                                <div class="home-project-wrapper-right">
                                    <div class="margin-bottom margin-small">
                                        <div class="image-content-wrapper">
                                            <div class="image-noise"></div><img loading="lazy" width="861" height="526"
                                                alt=""
                                                src="/6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (33).png"
                                                sizes="(max-width: 479px) 100vw, 55vw"
                                                srcset="6553c8b3e7dde406596858f4/ProjectImages/GlitzEcommerce (33).png"
                                                class="image-content">
                                        </div>
                                    </div>
                                    <div class="margin-left margin-special-project">
                                        <div class="text-meta">Rauren</div>
                                    </div>
                                </div>
                            </a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>